* {
    /* reset CSS margin padding */
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;  
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* colori da utilizare
#47ACF2 colore azzurro
 colore viola
 colore verde
#F29D34 colore arancione
#D963A0 colore rosa 
#B0C925 colore verde chiaro  */


/* inizio header */
header{
    height: 60px;
    width: 100%;
    background: white;
    font-weight: 600;
    padding: 10px;
   
}

.contenitore{
    background-color: white;
    padding: 30px;
    margin-top: 2px;
}

#titolo {
    margin-left: 0.3em;
}
#titolo span, #titolo img {
    vertical-align: middle;
}

/* inizio Main */

main{
    margin: 50px 200px;
    
}

.bottoni{
    margin-top: 50px;
    background-color: white;
    padding: 15px;

}
#colore-blu{
    background-color: #47ACF2;
}



.verde{
    color: #64C0A8;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid #64C0A8;

}

.rosso{
    color: red;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid red;
}

.evidenziato-blue{
    background-color: #47ACF2;
    border-radius: 20px;
    padding: 5px;
}

.evidenziato-verde{
    background-color: #64C0A8;
    border-radius: 20px;
    padding: 5px;
}
.evidenziato-viola{
    background-color: #9B72E5;
    border-radius: 20px;
    padding: 5px;
}

.evidenziato-verde-chiaro{
    background-color: #B0C925;
    border-radius: 20px;
    padding: 5px;
}

.evidenziato-arancione{
    background-color: #F29D34;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
}



/* inizio footer */
  .text-small{
    font-size: 0.5em;
  }

  .text-regular{
    font-size: 1.5em;

  }

  .text-big{
    font-size: 3em;
  }
