* {
    /* reset CSS margin padding */
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;  
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* colori da utilizare
#47ACF2 colore azzurro
#9B72E5 colore viola
#64C0A8 colore verde
#F29D34 colore arancione
#D963A0 colore rosa 
#B0C925 colore verde chiaro  */


/* inizio header */
header{
    height: 60px;
    width: 100%;
    background: white;
    font-weight: 600;
    padding: 10px;
}
#titolo {
    margin-left: 0.3em;
}
#titolo span, #titolo img {
    vertical-align: middle;
}

/* inizio Main */


/* inizio footer */
  .text-small{
    font-size: 1em;
  }

  .text-regular{
    font-size: 2em;
  }

  .text-big{
    font-size: 3em;
  }
